:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

header .container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    margin: 30px;
	
}

.logo{
    height: 60px;
    cursor: pointer;
}

.perfil{
    height: 60px;
    border-radius: 30%;
    cursor: pointer;
    transition: all .5s;
    border: 10px solid transparent;
}

.perfil:hover{
    border: 10px solid #136497;
}

.teste{
    align-items: center;
    display: flex;
}
.fa-solid{
    margin-right: 30px;
}
.fa-solid:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

header nav a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 60px;
    color:#AAA;
    transition: 0.7s;
}

header nav a:hover{
    color:#fff;
    font-size: 25px;
}

/*Filme principal */

main .container{
    margin-left: 20px;
    width: 70%;
}

.filme-principal{
    font-size: 15px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 9%, rgba(1,0,18,0) 50%, rgba(1,0,18,0.8) 90%),url('/img/homem_aranha2.jpg');
    -webkit-mask-image: linear-gradient(to top, transparent 1%, black 30%);
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: .9s ease all;
    
}

.filme-principal:hover{
    background:linear-gradient(rgba(0,0,0,.30),rgba(0,0,0,.30)100%), url('/img/homem_aranha3.jpg');
    height: 700px;
    background-size: cover;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    
}

.filme-principal .descricao{
    margin-bottom: 30px;
    margin-top: 15px;
}

.titulo{
    font-size: 50px;
    margin-top: 190px;
}

.btn{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px;
    margin-right: 20px;
    font-size: 19px;
    cursor: pointer;
    transition: .6s ease all;
}

.btn:hover{
    background-color: white;
    color: black;
}

.btn i{
    margin-right: 9px;
}

.box-filme{
    height: 3100%;
    width: 100%;
    display: block;
}

#subtitulos{
    margin: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.item{
    transition: all 0.5s;
    cursor: pointer;
}
.item:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}





